.people{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item{
        margin: 1% 0;
        flex-basis: 30%;
    }
    &__header{
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 300px;
        text-align: left;
        justify-content: space-between;
        .orderer, .filter, .filter input{
            margin: 5px 0;
        }
    }
}