.person-page{
    .page-layout__title{
        font-family: 'Pathway Gothic One', sans-serif;
        font-weight: 700;
    }
    &__films{
        width: 100%;
        margin: 0 auto;
        max-width: 250px;
    }
    &__film-item{
        margin: 5px 0;
        text-decoration: none;
        a{
            text-decoration: none;
        }
    }
    &__subtitle{
        margin: 25px 0 10px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
    }
}